<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="filepath"  value="C:\Users\PouriaPC\Desktop\TornementTracker"/>
    <add key="HighWin" value="1"/>
    <add key="SenderDisplayName" value="Pouria Kalantari"/> 
    <add key="SenderEmail" value="Kalantari_Pouria@yahoo.com"/> 
  </appSettings>
  <connectionStrings>
    <add name="Tournement" connectionString="Server=DESKTOP-MDMCA37;Database=Tournement;Trusted_Connection=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network">
        <network host="127.0.0.1" userName="Pouria" password="Testing" port="25" enableSsl="false"/>
      </smtp>
    </mailSettings>
  </system.net>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>